:root {
  --hol-color: #e0354b;
  --font: Arial, Helvetica, sans-serif;
}




h1 {
  color: var(--hol-color);
}

hr {
  border: none;
  height: 3px;
  background-color: var(--hol-color);
  margin: 16px 0; 
}


label{
  font-weight: bold;
}

