.App-footer {
    font-family: var(--font);
    font-style: italic;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  }
  /*
  .footer-divider {
   
  }
  */